input[type="range"] {
	width: 130px;
	height: 15px;
	margin:0px 10px 10px 10px;
}

input[type="radio"] {
	 transform: scale(1.3);
}

input[type="file"] {
	/* margin: 3px; */
	font-size: 15px;
	font-family: 楷体;
	padding: 5px;
}

#DIV {
	padding: 10px;
	width: 600px;
	font-size: 20px;
	font-family: 隶书;
	background-color: rgba(0, 255, 255, 0.2);
	margin-bottom: 10px;
}
